# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# EAS
.easignore

# native builds
android/
ios/

# env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# editor
*.code-workspace
